# Fichiers générés par Quartus
db/
incremental_db/
output_files/
*.rpt
*.sopcinfo
*.bsf
*.cmp
*.html
*.qws
*.bak
*.log
*.jdi

# Fichiers de verrouillage
*.rdr
*.rdr.flock

# Fichiers generes par Nios II / HAL
app_software/BSP/
app_software/obj/
app_software/*.elf
app_software/*.map
app_software/*.objdump
app_software/*.srec
*.tcl~

# Preferences locales Qsys
.qsys_edit/
